.login {
  display: grid;
  place-items: center;
}

.login__head {
  border-bottom: 1px solid #d9dadc;
  padding: 25px 0 10px;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
}

.spotify-logo {
  width: 300px;
  min-height: 100%;
  display: inline-block;
  height: 90px;
}

.login__container {
  display: flex;
  flex-direction: column;
}

.login__container-content > .text-center {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.login__container-content > .text-center > h3 {
  letter-spacing: normal;
  font-style: 16px;
}

.login__container-content > .row {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}

.login__container-content > .row > a,
.btn-cta {
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: normal;
}

.login__container-content > .row > .btn {
  min-width: 160px;
  border-radius: 500px;
  padding: 16px 48px 18px;
  transition-duration: 0.3s;
  border-width: 0;
  width: 100%;
  color: #616467;
  box-shadow: inset 0 0 0 2px #616467;
  background-color: transparent;
}

.btn-cta {
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px 40px;
  width: 50%;
  background-color: #1db954;
  border-width: 0;
  border: none;
  border-radius: 500px;
}

.btn-cta:hover {
  cursor: pointer;
  background-color: #15883e;
}
